body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
    /* Adjust based on number of slides */
}

.slide {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.slide:nth-child(1) {
    background-image: url('images/Framing.jpg');
}

.slide:nth-child(2) {
    background-image: url('images/Framing.jpg');
}

.slide:nth-child(3) {
    background-image: url('images/Framing.jpg');
}